@charset "utf-8";
@import url(fonts.css);
@media screen and (max-width: 480px) {

    .inner {
        width: 90%;
        margin: 0 auto;
    }

    .heart_area {
        position: relative;
    }

    /* top_menu_area */

    .top_util_area {
        padding-top: 30px;
        margin-bottom: 30px;
    }

    .top_util_area .inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .top_util_area .top_search {
        width: 80%;
        position: relative;
    }

    .top_util_area .top_search>input {
        width: 100%;
        height: 40px;
        border: 1px solid rgba(0, 0, 0, 0.2);
        border-radius: 20px;
        padding-left: 20px;

    }

    .top_util_area .top_search>input:focus {
        border: 1px solid rgba(0, 0, 0, 0.2);
    }

    .top_util_area .top_search>a {
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        display: flex;
        align-items: center;
    }
    .top_util_area .top_search>a>img {
        width: 24px;
        height: 24px;
    }

    .btn_close>a {
        display: block;
        width: 100%;
        height: 100%;
    }

    .btn_close>a>img {
        display: flex;
        align-items: center;
        width: 30px;
        height: 30px;
        padding: 10px 0 10px 10px;
    }

   
    /* heart_area_swiper */
    .heart_area_swiper {
        margin-left: 5%;
        margin-bottom: 30px;
    }
    .heart_area_swiper .swiper-slide {
        width: auto !important;
        height: 44px;
        background: rgba(0, 0, 0, 0.1);
        border-radius: 8px;
    }
    .heart_area_swiper a {
        display: block;
        width: 100%;
        height: 100%;        
        padding: 10px 14px;
        box-sizing: border-box;

    }
    .list {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .list > img {
        width: 24px;
        height: 24px;
        margin-right: 10px;
    }
    .list > span {
        font-size: 16px;
    }


    /* heart_item_area */
    .heart_item_area {
        margin-bottom: 80px;
    }


    .heart_item_area > li {
        position: relative;
        padding: 20px 0;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }

    .heart_item_area > li > .heart_icon {
        position: absolute;
        bottom: 20px; right: 0;
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .heart_item_area > li > .heart_icon > img {
        width: 20px;
        height: 20px;
    }

    .heart_item_area > li > a {
        display: flex;
        align-items: center;
    }
    .heart_item_area figure {
        width: 30%;
        height: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: rgba(0, 0, 0, 0.1);
        border-radius: 4px;
        margin-right: 16px;
    }
    .heart_item_area figure > img {
        width: 70%;
    }
    .heart_item_area .item_info {
        width: calc(70% - 16px);
    }
    .item_info .top_info {
        margin-bottom: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .top_info .brand {
        font-size: 18;
        font-weight: 600;
        color: #000;
    }
    .top_info .date {
        font-size: 14px;
    }



    .item_info .item {
        font-size: 16;
        color: rgba(0, 0, 0, 0.6);
        margin-bottom: 10px;
    }
    .item_info .price {
        font-size: 18;
        color: #000;
    }













    /* menu_bar */
    .menu_bar {
        position: fixed;
        bottom: 0;
        width: 100%;
        height: 70px;
        display: flex;
        align-items: center;
        border-top: 1px solid rgba(0, 0, 0, 0.2);
        background: #fff;
    }

    .menu_bar>li {
        width: 100%;
        height: 100%;
    }

    .menu_bar>li>a {
        display: flex;
        align-items: center;
        width: 100%;
        height: 100%;
        flex-direction: column;
        justify-content: center;
    }

    .menu_bar>li>a>img {
        width: 24px;
        height: 24px;
        margin-bottom: 5px;
        opacity: 0.8;
    }

    .menu_bar>li>a>p {
        font-size: 13px;
    }
    .menu_bar>li:nth-child(4)>a>p {
        color: #028c6a;
        font-weight: 500;
    }
}