@charset "utf-8";
@import url(fonts.css);
@media screen and (max-width: 480px) {

    .inner {
        width: 90%;
        margin: 0 auto;
    }

    .mypageJoin_area {
        position: relative;
    }

    /* top_menu_area */

    .top_util_area {
        padding-top: 30px;
        margin-bottom: 10px;
    }

    .top_util_area .inner {
        display: flex;
        align-items: center;
        justify-content: flex-end;
/*         justify-content: space-between; */
    }

    .top_util_area .top_search {
        width: 80%;
        position: relative;
        display: none;
    }

    .top_util_area .top_search>input {
        width: 100%;
        height: 40px;
        border: 1px solid rgba(0, 0, 0, 0.2);
        border-radius: 20px;
        padding-left: 20px;

    }

    .top_util_area .top_search>input:focus {
        border: 1px solid rgba(0, 0, 0, 0.2);
    }

    .top_util_area .top_search>img {
        width: 24px;
        height: 24px;
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
    }

    .btn_close>a {
        display: block;
        width: 100%;
        height: 100%;
    }

    .btn_close>a>img {
        display: flex;
        align-items: center;
        width: 30px;
        height: 30px;
        padding: 10px 0 10px 10px;
    }

    /* logo_area */
    .logo_area {
        margin-bottom: 20px;
    }
    .logo_area a {
        display: block;
        margin: 0 auto;
        width: 220px;
        height: 82px;
    }
    .logo_area a > img {
        width: 220px;
    }


    /* user_area */
    .user_area li {
        margin-bottom: 20px;
    }
    .user_area .title {
        font-size: 20px;
        font-size: 600;
        margin-bottom: 14px;
    }
    .user_area input {
        width: 100%;
        height: 40px;
        padding-left: 10px;
        font-size: 16px;
        border: 1px solid rgba(0, 0, 0, 0.1);
        border-radius: 4px;
        box-sizing: border-box;
    }

    .user_area button {
        width: 100%;
        height: 54px;
        font-size: 18px;
        border: none;
        background: 1px solid rgba(0, 0, 0, 0.1);
        border-radius: 4px;
        margin: 20px 0 10px;
    }





    /* menu_bar */
    .menu_bar {
        position: fixed;
        bottom: 0;
        width: 100%;
        height: 70px;
        display: flex;
        align-items: center;
        border-top: 1px solid rgba(0, 0, 0, 0.2);
        background: #fff;
    }

    .menu_bar>li {
        width: 100%;
        height: 100%;
    }

    .menu_bar>li>a {
        display: flex;
        align-items: center;
        width: 100%;
        height: 100%;
        flex-direction: column;
        justify-content: center;
    }

    .menu_bar>li>a>img {
        width: 24px;
        height: 24px;
        margin-bottom: 5px;
        opacity: 0.8;
    }

    .menu_bar>li>a>p {
        font-size: 13px;
    }
    .menu_bar>li:nth-child(5)>a>p {
        color: #028c6a;
        font-weight: 500;
    }

}